#wip {
    color: red;
    text-align: center;
}

#dan_bus_prof {
    display: block;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

#welcome_title {
    margin-top: 10px;
}

#socials {
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
}

#courses {
    margin-top: 40px;
}

#welcome_box {
    /* width: 100%; */
}

.panel-group {
    margin-left: 15px;
}

#projects {
    margin-top: 40px;
}